In [1]:
R.version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

In [3]:
require(readr)

flights_202212 = read_delim(
	file = "./data/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_12.csv",
	delim = ",",
	col_names = TRUE,
	guess_max = 1000L,
	n_max = 10
)

flights_202212[1:3, 1:10]

New names:
• `` -> `...110`
Rows: 10 Columns: 110
── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (19): Tail_Number, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, D...
dbl  (42): Year, Quarter, Month, DayofMonth, DayOfWeek, Reporting_Airline, DOT_ID_Reporting_Airl...
lgl  (48): FirstDepTime, TotalAddGTime, LongestAddGTime, DivReachedDest, DivActualElapsedTime, D...
date  (1): FlightDate

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year Quarter Month DayofMonth DayOfWeek FlightDate Reporting_Airline DOT_ID_Reporting_Airline
1 2022 4       12    19         1         2022-12-19 9                 20363
2 2022 4       12    20         2         2022-12-20 9                 20363
3 2022 4       12    21         3         2022-12-21 9                 20363
  IATA_CODE_Reporting_Airline Tail_Number
1 9                           N197PQ
2 9                           N901XJ
3 9                           N306PQ

In [9]:
.libPaths()

[1] "/home/anchu/R/x86_64-pc-linux-gnu-library/4.3" "/opt/R/4.3.2/lib/R/library"